
  /* Center the image and position the close button */
  .brand{
    color: #ff1a75;
    font-weight: bold;
    animation-name: Brand;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-bottom:-10px;
    font-size: 30px;
  }
  @keyframes  Brand{
    from {color: #ff3333;}
    to {color:  #ffff1a;}
  }
  .contact{
    margin-top: 5px;
    font-size:15px;
    color:#ff1a75;
  }
  .nav-link{
    color: #ffe6f2;
  }
  .nav-link:hover{
    color:#ff33ff;
  }
  .active{
    color:#ff33ff;
    }
.dropdown-menu{
  background:#80ffff;
}
.dropdown-item{
  
  color:white;
  font-weight:bold;
}
.dropdown-item:hover{
  color:#ff33ff;
  background:white;
  border-radius: 15px;
}
.dropdown:hover .dropdown-menu {display: block;}