.g-4{
    margin-left:150px;
    margin-right:50px;
    margin-top: 10px;
    display: flex;
    overflow: hidden
}
h1{
    margin-top: 40px;
    margin-left:150px;
}
p{
    margin-top: 10px;
    margin-left:150px;
     
}
.card{
    margin-left:40px;
}
card-text{
    font-weight:bold
}