.offcanvas1{
    border-style: none;
    border-width:100%;
    padding: 5px;
    padding-left: 30px;
}
.offcanvas1:hover{
    background:#bfbfbf;
}
.offcanvas-body{
    margin-top: -30px;
}
.g-4{
    margin-left:100px;
    margin-right:50px;
    margin-top: 10px;
    display: flex;
    overflow: hidden
}
.card_header{
    margin-top: 200px;
    margin-left:100px;
}
.card{
    margin-left:40px;
}
.card-text{
    font-weight:bold
}