.h{
    height: 180px;

}
.h-card{
    background:#80ffff;
    animation-name: h-card;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}
@keyframes  h-card{
    from {background: #80ffff;}
    to {background:  #b3ffd9;}
  }
.h-title{
    margin-top:40px;
    font-size: 35px;
    color:#ff66a3;
    font-weight:bold;
    animation-name: h-title;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}
@keyframes  h-title{
    from {color: #ff9999;}
    to {color: #ff66a3;}
  }
.h-text{
      color:#3385ff;
      font-size: 20px;
      margin-top: 20px;
  }