<app-med-nav></app-med-nav>
<div class="card text-center h" style="margin-top: 100px; width:60%;margin-left:300px;">
    <div class="card-body h-card">
      <h5 class="card-title h-title">15% OFF IN ANY MEDICINE</h5>
      <p class="card-text h-text">Free home delevery withen 3 days</p>
    </div>
  </div>
<app-show-med [type]="'Paracetaamol Tablet'"></app-show-med>
<app-show-med [type]="'Antibiotic tablet'"></app-show-med>
<app-show-med [type]="'Syrup'"></app-show-med>
<app-show-med [type]="'Vitamine and Minarel'"></app-show-med>
