
  <div class="collapse" id="navbarToggleExternalContent">
    <div class=" p-4" style="background-color:#004466">
      <ul class="navbar-nav" style="font-size:20px;font-weight: bold">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/user/doctorportal" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page"  routerLinkActive="active"  routerLink="/user/doctorportal/symptom" >Your problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/user/doctorportal/docres" >Service</a>
        </li>
        
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-light" style="background-color:#99ffff">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>