.nav-link{
    color:White;
}
.nav-link:hover{
    color:	 #99ffff
}
.active{
    color:	 #99ffff
}
.header{
    text-align: center;
    border-style: hidden;
    padding: 20px;
    background-color:#99ffff;
}
h1{
    font-size: 60px;

    margin-bottom:30px;
    color: #ff1a75;
    font-weight: bold;
    animation-name: header;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-family:Cursive;
    overflow: initial;
}
@keyframes  header{
    from {color: #ff1a75;}
    to {color: #dd99ff;}
  }
h4{
    color: #5900b3;
}
