<div style="margin: 100px;">
    <form [formGroup]="addMedForm"  (ngSubmit)="onSubmit()">
        <label style="margin-right: 30px;;">Select medicine cover image: </label>
        <input type="file" name="image" (change)="onFileSelected($event)">
        <br>
        <div class="mb-3">
            <label for="medicineName" class="form-label">Enter medicine name:</label>
            <input formControlName="medicine_name"   type="text" class="form-control" id="medicineName" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="quentity" class="form-label">Enter medicine quentity:</label>
            <input formControlName="quentity" type="text" class="form-control" id="quentity" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Enter medicine type:</label>
            <input formControlName="medicine_type" type="text" class="form-control" id="type" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Enter medicine price:</label>
            <input formControlName="medicine_price" type="text" class="form-control" id="price" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="compogisio" class="form-label">Enter medicine compogision:</label>
            <textarea formControlName="medicine_compogision" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <label for="use" class="form-label">Enter medicine use for:</label>
            <textarea formControlName="medicine_work" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <label for="Date" class="form-label">Medicine Entry Date:</label>
            <input formControlName="date" type="text" class="form-control" id="Date" aria-describedby="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>