<div style="margin: 100px;">
    <form [formGroup]="addMedForm"  (ngSubmit)="onSubmit()">
        <label style="margin-right: 30px;;">Select medicine cover image: </label>
        <input type="file" name="image" (change)="onFileSelected($event)">
        <br>
        <div class="mb-3">
            <label for="medicineName" class="form-label">Enter medicine name:</label>
            <input formControlName="medicine_name"   type="text" class="form-control" id="medicineName" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="quentity" class="form-label">Enter medicine company:</label>
            <input formControlName="medicine_company" type="text" class="form-control" id="quentity" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="quentity" class="form-label">Enter medicine power:</label>
            <input formControlName="medicine_power" type="text" class="form-control" id="quentity" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="quentity" class="form-label">Enter medicine quentity:</label>
            <input formControlName="quentity" type="text" class="form-control" id="quentity" aria-describedby="">
        </div>
        <div class="mb-3"><label for="quentity" class="form-label">Select medicine type:</label>
        
        <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios1" value="Paracetaamol Tablet" checked>
            <label class="form-check-label" for="exampleRadios1">
              Paracetaamol Tablet
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Pain Killer">
            <label class="form-check-label" for="exampleRadios2">
              Pain Killer
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Antibiotic">
            <label class="form-check-label" for="exampleRadios2">
              Antibiotic
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Vitamin And Minarel">
            <label class="form-check-label" for="exampleRadios2">
              Vitamin And Minarel
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Serap">
            <label class="form-check-label" for="exampleRadios2">
              Serap
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Baby And Mom Care">
            <label class="form-check-label" for="exampleRadios2">
              Baby And Mom Care
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Diabetice">
            <label class="form-check-label" for="exampleRadios2">
              Diabetice
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="High Paaser and Heart Disease">
            <label class="form-check-label" for="exampleRadios2">
              High Paaser and Heart Disease
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Oil And Cream">
            <label class="form-check-label" for="exampleRadios2">
              Oil And Cream
            </label>
          </div>
          <div class="form-check">
            <input formControlName="medicine_type" class="form-check-input" type="radio" name="medicine_type" id="exampleRadios2" value="Other">
            <label class="form-check-label" for="exampleRadios2">
              Other
            </label>
          </div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Enter medicine price:</label>
            <input formControlName="medicine_price" type="text" class="form-control" id="price" aria-describedby="">
        </div>
        <div class="mb-3">
            <label for="compogisio" class="form-label">Enter medicine compogision:</label>
            <textarea formControlName="medicine_compogision" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <label for="use" class="form-label">Enter medicine use for:</label>
            <textarea formControlName="medicine_work" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <label for="Date" class="form-label">Medicine Entry Date:</label>
            <input formControlName="date" type="text" class="form-control" id="Date" aria-describedby="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>