.container{
    border-style: outset;
    background:#b3ffff;
    padding:100px;
    padding-bottom:150px;
    padding-right:150px;
    height:700px;
    border-width: 5px
}
.inner{

    margin:35px;
}