<app-oxygen-header></app-oxygen-header>
<div class="card">
    <div class="card-body">
    <p class="heading" style="font-size:25px;font-weight:bold">You Order Oxygen on {{oxyDta.date.toString().slice(0,10)}}</p>
    <p class="Address" style="font-size:20px;">At Your Address {{oxyDta.address}}</p>
    <p style="font-size:20px;">Ite will deleverd 2 to 4 hour</p>
    <br>
    <div class="loadbar">
      <strong class="bar" [style.height]="height"></strong>
    </div>
    <p style="margin-top:-200px;margin-left:50px;font-weight:bold">Order Placed</p>
    <p style="margin-top:70px;margin-left:50px;font-weight:bold">On Road</p>
    <p style="margin-top:70px;margin-left:50px;font-weight:bold">deleverd</p>
    </div>
  </div>
 <br>
 <br>

